@{
    ViewBag.Title = "About";
}
<h2>Sobre Nosotros</h2>

<p>MeToo es una plataforma que provee a artistas, músicos, cineastas, diseñadores y otros creadores con los recursos y el apoyo necesarios para llevar sus ideas a la realidad. Hasta la fecha, decenas de miles de proyectos creativos de todos los tamaños han podido ser realizados gracias al apoyo de la comunidad de MeToo.</p>
